<settings>
  <id>SettingsInfoImpl--215cd709:191767f80d4:-75d4</id>
  <workspace>
    <id>WorkspaceInfoImpl--215cd709:191767f80d4:-75da</id>
    <name>Industry_Workers</name>
    <isolated>false</isolated>
    <dateCreated>2024-09-01 20:29:11.133 UTC</dateCreated>
    <dateModified>2024-09-01 20:37:23.503 UTC</dateModified>
  </workspace>
  <contact>
    <id>contact</id>
    <addressCity>Alexandria</addressCity>
    <addressCountry>Roman Empire</addressCountry>
    <addressState>Egypt</addressState>
    <addressType>Work</addressType>
    <contactEmail>claudius.ptolomaeus@mercury.olympus.gov</contactEmail>
    <contactOrganization>OSGeo</contactOrganization>
    <contactPerson>Claudius Ptolomaeus</contactPerson>
    <contactPosition>Chief Geographer</contactPosition>
    <onlineResource>https://www.osgeo.org/</onlineResource>
    <welcome>Designed for interoperability, GeoServer publishes data from any major spatial data source using open standards.</welcome>
    <internationalAddress class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCity class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCountry class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressDeliveryPoint class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressPostalCode class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressState class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressType class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactEmail class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactFacsimile class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactOrganization class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPerson class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPosition class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactVoice class="org.geotools.util.GrowableInternationalString"/>
    <internationalOnlineResource class="org.geotools.util.GrowableInternationalString"/>
    <internationalWelcome class="org.geotools.util.GrowableInternationalString"/>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>8</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <verbose>false</verbose>
  <verboseExceptions>false</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>false</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
  <showCreatedTimeColumnsInAdminList>false</showCreatedTimeColumnsInAdminList>
  <showModifiedTimeColumnsInAdminList>false</showModifiedTimeColumnsInAdminList>
  <useHeadersProxyURL>false</useHeadersProxyURL>
</settings>